.menu {
    position: relative;
    &__list {
        display: flex;
        gap: 70px
    }
    &__item {
        position: relative;
    }
}
.submenu {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 180px;
}